@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg-primary: #fafafa;
  --color-bg-secondary: #fff;
  --color-text: hsl(200, 15%, 8%);
  --shadow-header: 0px 4px 4px rgba(0, 0, 0, 0.05);
  --shadow-card: 0px 0px 4px rgba(0, 0, 0, 0.05);
  --shadow-back-button: 0px 0px 8px rgba(0, 0, 0, 0.4);
  --shadow-country-link: 0px 0px 4px rgba(0, 0, 0, 0.25);

  background-color: var(--color-bg-primary);
}

.darkMode {
  --color-bg-primary: hsl(207, 26%, 17%);
  --color-bg-secondary: hsl(209, 23%, 22%);
  --color-text: white;
}
